<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>
		<%= 
			(typeof(title) !== 'undefined') ? title : 'Node demo app' 
		%>
	</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
<style>
  #hero{
    height:400px;
  }
  </style>
  <!-- Favicons -->
  <link href='/img/favicon.png' rel="icon">
  <link href='/img/apple-touch-icon.png' rel="apple-touch-icon">
  <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href='/vendor/aos/aos.css' rel="stylesheet">
  <link href='/vendor/bootstrap/css/bootstrap.min.css' rel="stylesheet">
  <link href='/vendor/bootstrap-icons/bootstrap-icons.css' rel="stylesheet">
  <link href='/vendor/boxicons/css/boxicons.min.css' rel="stylesheet">
  <link href='/vendor/glightbox/css/glightbox.min.css' rel="stylesheet">
  <link href='/vendor/remixicon/remixicon.css' rel="stylesheet">
  <link href='/vendor/swiper/swiper-bundle.min.css' rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href='/css/style.css' rel="stylesheet">
  <link href='/css/login&sign.css' rel="stylesheet">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
 
  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

 <!-- Boostrap -->
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
      integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>

<!-- Styles -->
  <link rel="stylesheet" href="/css/styleSheet.css">
 
</head>
  <body>
  